body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
}

h1 {
    text-align: center;
}


#room-wrapper {
    display: flex;
    justify-content: center;
}

#screen-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-game-btn {
    width: 100%;
    color: white;
    background-color: green;
    
    font-size: 100%;
    border-radius: 3%;
}

#enter-code-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#enter-code-input {
    size: 10;
    font-size: 2.5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.1em;
    font-weight: 800;
}

#enter-code-input.error {
    color: red;
}

#go-btn {
    margin-left: 0.3vh;
    height: 100%;
    font-size: 100%;
    color: white;
    background-color: green;
}

#screen-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#screen-2 > span {
    text-align: center;
    font-size: 2.5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#screen-2-code {
    letter-spacing: 0.1em;
    font-weight: 800;
}

/* Get rid of text selection */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


/* Game play begins Here */
#game-wrapper {
    display: flex;
    justify-content: left;
}


#game-board {
    display: block;
    flex-direction: column;
    text-align: center;
    width: 60vw;
    height: 90vh;
    border: 1vw solid black;
}

.cell-corner {
    width: 10%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

#row-1 {
    display: flex;
    justify-content: row;
    width: 100%;
    height: 10%;
}

#row-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

#row-2 > .side-row {
    width: 10%;
}

#row-2 > canvas {
    width: 80%;
    height: 100%;
}

#row-2 > #column-left {
    display: flex;
    flex-direction: column-reverse;
}

#row-2 > #column-right {
    display: flex;
    flex-direction: column;
}

#row-3 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 10%;
}

#row-1 > .cell {
    flex: 1 1 0;
}

#row-2 > * > .cell {
    flex: 1 1 0;
}

#row-3 > .cell {
    flex: 1 1 0;
}


/* Coloring for Harvest */
.First-Hay-Cutting > :first-child {
    background-color: lightgreen;
}

.Second-Hay-Cutting > :first-child{
    background-color: lightgreen;
}

.Third-Hay-Cutting > :first-child{
    background-color: lightgreen;
}

.Fourth-Hay-Cutting > :first-child{
    background-color: lightgreen;
}

.Cherry-Harvest > :first-child{
    background-color: red;
}

.Apple-Harvest > :first-child{
    background-color: crimson;
}

.Wheat-Harvest > :first-child{
    background-color: gold;
    /* border-bottom: 1vw solid yellow; */
}

.Corn-Harvest > :first-child{
    background-color: yellow;
}

.Livestock-Sales > :first-child{
    background-color: rgba(211, 139, 61, 0.846);
}


#row-2 > #column-right {
    display: flex;
    flex-direction: column;
}

canvas {
    background-image: url('board.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.date {
    font-size: small;
    font-weight: 500;
}

.description {
    font-size: 0.45vw;
}

.players-on-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.player {
    background-color: pink;
    border-radius: 50%;
    border: 1px solid black;
    width: 1vw;
    height: 1vw;
}

.player.Blue {
    background-color: rgba(0,0,255,0.5);
}

.player.Green {
    background-color: rgba(0,255,0,0.5);
}

.player.Yellow {
    background-color: rgba(255,255,0,0.5);
}

.player.Brown {
    background-color: rgba(121, 76, 28, 0.5);
}

.player.White {
    background-color: rgba(200,200,200,0.5);
}

.player.Black {
    background-color: rgba(20,20,20,0.5);
}