body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
}

h1 {
    text-align: center;
}


#room-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#screen-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-game-btn {
    width: 100%;
    color: white;
    background-color: green;

    font-size: 100%;
    border-radius: 3%;
}

#enter-code-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#enter-code-input {
    size: 10;
    font-size: 2.5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.1em;
    font-weight: 800;
}

#enter-code-input.error {
    color: red;
}

#go-btn {
    margin-left: 0.3vh;
    height: 100%;
    font-size: 100%;
    color: white;
    background-color: green;
}

#screen-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#screen-2>span {
    text-align: center;
    font-size: 2.5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#screen-2-code {
    letter-spacing: 0.1em;
    font-weight: 800;
}

/* Get rid of text selection */
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* player selection screen */
#screen-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarChoiceContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.avatarChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
}

.avatarProfileWrapper {
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatarProfile {
    width: 80%;
    height: 80%;
    border-radius: 25%;
    border: 2px solid black;
    margin-bottom: 5px;
    transition: 0.2s;
    opacity: 0.5;
    background-size: 100% 100%;
}

.avatarProfile:hover {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.2s;
}

.avatarProfile.mySelection {
    width: 100%;
    height: 100%;
    opacity: 1;
    border-width: 5px;
}

.avatarProfile.otherSelection {
    width: 80%;
    height: 80%;
    opacity: 0.5;
    border-width: 5px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

#avatar0 {
    border-color: yellow;
    background-image: url('icons/willie.png');
}

#avatar1 {
    border-color: green;
    background-image: url('icons/tom.png');
}

#avatar2 {
    border-color: brown;
    background-image: url('icons/ray.png');
}

#avatar3 {
    border-color: Black;
    background-image: url('icons/harry.png');
}

#avatar4 {
    border-color: lightgray;
    background-image: url('icons/sidney.png');
}

#avatar5 {
    border-color: blue;
    background-image: url('icons/sam.png');
}




/* Game play begins Here */
#game-wrapper {
    display: flex;
    justify-content: left;
}


#game-board {
    display: block;
    flex-direction: column;
    text-align: center;
    width: 60vw;
    height: 90vh;
    border-width: 1vw;
    border-style: solid;
    border-color: black;
}

.cell-corner {
    width: 10%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

#row-1 {
    display: flex;
    justify-content: row;
    width: 100%;
    height: 10%;
}

#row-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

#row-2>.side-row {
    width: 10%;
}

#row-2>#column-left {
    display: flex;
    flex-direction: column-reverse;
}

#row-2>#column-right {
    display: flex;
    flex-direction: column;
}

#row-3 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 10%;
}

#row-1>.cell {
    flex: 1 1 0;
}

#row-2>*>.cell {
    flex: 1 1 0;
}

#row-3>.cell {
    flex: 1 1 0;
}

/* Coloring for Harvest */
.First-Hay-Cutting> :first-child {
    background-color: lightgreen;
}

.Second-Hay-Cutting> :first-child {
    background-color: lightgreen;
}

.Third-Hay-Cutting> :first-child {
    background-color: lightgreen;
}

.Fourth-Hay-Cutting> :first-child {
    background-color: lightgreen;
}

.Cherry-Harvest> :first-child {
    background-color: red;
}

.Apple-Harvest> :first-child {
    background-color: crimson;
}

.Wheat-Harvest> :first-child {
    background-color: gold;
    /* border-bottom: 1vw solid yellow; */
}

.Corn-Harvest> :first-child {
    background-color: yellow;
}

.Livestock-Sales> :first-child {
    background-color: rgba(211, 139, 61, 0.846);
}

.date {
    font-size: x-small;
    font-weight: 500;
}

.description {
    font-size: 0.45vw;
}

.players-on-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.player {
    background-color: pink;
    border-radius: 50%;
    border: 1px solid black;
    width: 1vw;
    height: 1vw;
}

.player.Blue {
    background-color: rgba(0, 0, 255, 0.5);
}

.player.Green {
    background-color: rgba(0, 255, 0, 0.5);
}

.player.Yellow {
    background-color: rgba(255, 255, 0, 0.5);
}

.player.Brown {
    background-color: rgba(121, 76, 28, 0.5);
}

.player.White {
    background-color: rgba(200, 200, 200, 0.5);
}

.player.Black {
    background-color: rgba(20, 20, 20, 0.5);
}

/* board-image, cards, dice */

#board-image {
    width: 80%;
    height: 100%;

    background-image: url('board2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: [col1] 25% [col2] auto [col3] 25% [col4];
    grid-template-rows: [row1] 33% [row2] auto [row3] 33% [row4];
}


#card-container {
    grid-column-start: col2;
    grid-column-end: col3;
    grid-row-start: row2;
    grid-row-end: row3;
}

.card.OTBCard {
    background-color: lightblue;
}

.card.FarmersFateCard {
    background-color: lightpink;
}

.card.OperatingExpenseCard {
    background-color: lightgoldenrodyellow;
}

.card {
    display: none;
}

.card:last-child {
    size: 100% 100%;

    border-width: 5px;
    border-style: solid;

    display: grid;
    grid-template-columns: [col1] 20px [col2] auto [col3] 20px [col4];
    grid-template-rows: [row1] 20px [row2] auto [row3];
}

.card>span:first-child {
    grid-column-start: col3;
    grid-column-end: col4;
    grid-row-start: row1;
    grid-row-end: row2;
    background-color: lightgray;
    transition: 0.2s;
}

/* x button */
.card>span:first-child:hover {
    background-color: gray;
    cursor: pointer;
}

/* title */
.card>span:nth-child(2) {
    grid-column-start: col2;
    grid-column-end: col3;
    grid-row-start: row1;
    grid-row-end: row2;

    font-weight: 500;
}

/* description */
.card>span:last-child {
    grid-column-start: col1;
    grid-column-end: col4;
    grid-row-start: row2;
    grid-row-end: row3;

    font-weight: 200;
}

/* Dice */

#dice-container {
    grid-column-start: col2;
    grid-column-end: col3;
    grid-row-start: row3;
    grid-row-end: row4;

    display: flex;
    align-items: center;
    justify-content: center;
}

#position-dice-container {

    width: 100px;
    height: 100px;

    transform-style: preserve-3d;
    transition: transform 1s;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 60px;
    background-color: white;
    border: 1px solid black;
}

/* create the dice */
.front {
    transform: translateZ(50px);
}

.back {
    transform: rotateY(180deg) translateZ(50px);
}

.right {
    transform: rotateY(90deg) translateZ(50px);
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
}

.top {
    transform: rotateX(90deg) translateZ(50px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

/* draw pips */
.pip {
    position: fixed;
    background-color: red;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    transform: translate(-50%, -50%);
}

.pip-1 {
    top: 20%;
    left: 20%;
}

.pip-2 {
    top: 20%;
    left: 50%;
}

.pip-3 {
    top: 20%;
    left: 80%;
}

.pip-4 {
    top: 50%;
    left: 20%;
}

.pip-5 {
    top: 50%;
    left: 50%;
}

.pip-6 {
    top: 50%;
    left: 80%;
}

.pip-7 {
    top: 80%;
    left: 20%;
}

.pip-8 {
    top: 80%;
    left: 50%;
}

.pip-9 {
    top: 80%;
    left: 80%;
}

/* Add this property to rotate the dice */
.show-1a {
    transform: rotateX(10turn) rotateY(10turn) rotateZ(10turn);
}

.show-2a {
    transform: rotateX(10.25turn) rotateY(10turn) rotateZ(10turn);
}

.show-3a {
    transform: rotateX(10turn) rotateY(9.75turn) rotateZ(10turn);
}

.show-4a {
    transform: rotateX(10turn) rotateY(10.25turn) rotateZ(10turn);
}

.show-5a {
    transform: rotateX(9.75turn) rotateY(10turn) rotateZ(10turn);
}

.show-6a {
    transform: rotateX(10.5turn) rotateY(10turn) rotateZ(10turn);
}

/* show a -> show b -> show a ... to keep good rotations */
.show-1b {
    transform: rotateX(-10turn) rotateY(-10turn) rotateZ(-10turn);
}

.show-2b {
    transform: rotateX(-9.75turn) rotateY(-10turn) rotateZ(-10turn);
}

.show-3b {
    transform: rotateX(-10turn) rotateY(-10.25turn) rotateZ(-10turn);
}

.show-4b {
    transform: rotateX(-10turn) rotateY(-9.75turn) rotateZ(-10turn);
}

.show-5b {
    transform: rotateX(-10.25turn) rotateY(-10turn) rotateZ(-10turn);
}

.show-6b {
    transform: rotateX(-10.5turn) rotateY(-10turn) rotateZ(-10turn);
}